/* Home-page, The-main-page */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.home-screen{
    height: 100vh;
    background-image: url("Home-background.png");
}
.navbar{
    display: flex;
    width: 100%;
    height: 70px;
    background-color: black;
}
.logo-sec{
    width: 7.5%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.pic-logo{
    width: 55%;
    transition: 0.3s;
}
.pic-logo:hover{
    border-radius: 50%;
    border: 2px solid silver;
    transform: translateY(-3px) scale(0.8);
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 5px;
}
.btn{
    border: none;
    outline: none;
    background-color: black;
    color: aliceblue;
    font-size: larger;
    transition: 0.3s;
    cursor: pointer;
}
.btn:hover{
    color: gold;
    transform: translateY(-3px);
}
.purchase-cart{
    width: 7.5%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.search{
    width: 55%;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.cart{
    width: 70%;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.cart:hover{
    transform: scale(1.1);
}
.search:hover{
    transform: scale(1.1);
}
.btn2{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
}
.text-sec{
    margin-top: 150px;
    margin-left: 130px;
    color: aliceblue;
}
.text-sec h1{
    font-size: 48px;
    line-height: 1.2;
}
.text-sec p{
    font-size: 23px;
    color: rgb(195, 192, 192);
    line-height: 1.6;
}
.btn3{
    padding: 12px 28px;
    border: 2px solid white;
    border-radius: 8px;
    background: transparent;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn3:hover{
    background-color: gold;
    color: black;
    border-color: gold;
    transform: translateY(-3px);
}
.gallery-sec{
    display: flex;
    gap: 15px;
    margin-top: 60px;
    margin-left: 70px;
}

.img-gallery{
    width: 90px;
    height: 90px;
    object-fit: cover;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.3s;

}
.img-gallery:hover{
    transform: scale(1.1);
}
/* beggning of JS */
.btn.active{
    color: gold;
}   
.purchase-cart{
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}
.search,
.cart{
    width: 24px;
    height: 24px;
    cursor: pointer;
}
#searchBox{
    display: none;
    width: 150px;
    height: 28px;
    padding: 4px 8px;
    background-color: aqua;
}
#searchBox.show{
    display: block;
}
.deal-of-the-day-sec{
    background-color: black;
}
.the-icon-tex-sec{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    padding: 40px 20px;
}
.feature{
    display: flex;
    align-items: flex-start;
    gap: 15px;
    max-width: 280px;
}
.icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: 0.3s;
}
.icon:hover{
    transform: translateY(-2px);
    scale: 1.1;
     border: 1px solid orange;
}
.text{
    margin-top: -8px;
}
.text h3{
    color: white;
    margin-bottom: 8px;
    font-size: 24px;
    
}

.text p{
    color: #bcbcbc;
    font-size: 14px;
    line-height: 1.5;
}
.the-the-deal-sec{
    display: flex;
    justify-content: space-evenly;
}
.deal-img{
    width: 600px;
    transition: 1s;
}
.deal-img:hover{
    transform: translateY(-5px);
    scale: 1.3;
}
.burger-dis{
    color: white;
    max-width: 420px;
    margin-top: 100px;
}

.burger-dis h3{
    font-size: 59px ;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 20px;
    transition: 0.3s;
}
.burger-dis h3:hover{
    transform: translateY(-2px);
}

.burger-dis p{
    font-size: 18px;
    color: #a8a8a8;
    line-height: 1.8;
    margin-bottom: 30px;
}

.burger-dis h4{
    font-size: 52px;
    font-weight: 500;
}

.burger-dis h4 span{
    font-size: 32px;
    color: #9c9c9c;
}
.main-{
    background-color: black;
}
.menu-tabs{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #1f1f25;
    border-radius: 40px;
    padding: 8px;
    justify-items: center;
    margin-left: 20px;
    margin-right: 20px ;
}

.menu-tabs a{
    text-decoration: none;
    color: white;
    padding: 12px 25px;
    border-radius: 30px;
    transition: 0.3s;
    font-size: 27px;
}

.menu-tabs a:hover{
    background: #2d2d35;
}

.menu-tabs .active{
    background: #34343d;
}
.products{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin: 20px;
}

.item{
    background-color: #2d2d35;
    color: white;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}
.item:hover{
    transform: translateY(-5px);
}
.item.active{
    border: 2px solid #ff9800;
    box-shadow: 0 0 15px rgba(255, 152, 0, 0.5);
    transform: scale(1.03);
}
.img-product{
    display: flex;
    justify-content: center;
}
.img-pro{
    width: 70%;
    object-fit: cover;
    border-radius: 10px;
}
.item img{
    width: 200px;
    height: 200px;
}
.overlay{
    position: fixed;
    inset: 0;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    z-index: 9999;
}
.overlay.show{
    opacity: 1;
    visibility: visible;
}
.product-modal{
    width: 750px;
    border-radius: 20px;
    padding: 25px;
    text-align: center;
    transform: scale(.8);
    transition: .3s;
    margin-bottom: 40px;
}
.overlay.show .product-modal{
    transform: scale(1);
}
.modal-img{
    width:  650px;
    border-radius: 15px;
}
.modal-title{
    margin-top: 25px;
    color: white;
}
.modal-price{
    color: orange;
    font-size: 35px;
    font-weight: bold;
}

.add-cart{
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background: orange;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.purchase{
    margin-top: 15px;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background: orange;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.purchase:hover{
    background-color: black;
}
.products h4{
    font-size: 36px;
}
.products p{
    font-size: 30px;
    color: #ff9800;
}